<launch>
	<node pkg="ml_landmarks" type="ml_landmarks_node" name="ml_landmarks" clear_params="true" output="screen">
		<!-- Operation Parameters -->
		<param name="topic_marker_detected" value="detected_markers" type="str"/>

		<!-- Camera Pose Estimation -->
		<param name="topic_pose_estimate" value="camera_pose" type="str"/>

		<!-- Landmark To Map -->
		<param name="map_frame" value="map" type="str"/>
		<!-- First Landmark ID (Comment this to accept first found) -->
		<!-- param name="lm_static_ref_id" value="0" type="int"/-->
		<!-- First Landmark Location [X,Y,Z, w, x, y, z] -->
		<rosparam param="lm_static_ref_pose">[0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0]</rosparam>

		<!-- Accuracy Filtering -->
		<param name="min_confidence" value="0.5" type="double"/>
		<param name="snap_plane_apply" value="true" type="boolean"/>
		<!-- Plane to align markers [W,X,Y,Z] - plane is perpendicular to quaternion-->
		<rosparam param="snap_quat_plane">[0.0, 0.0, 0.0, 1.0]</rosparam>
		<param name="lpf_pos_apply" value="true" type="boolean"/>
		<param name="lpf_pos_beta" value="0.025" type="double"/>

		<!-- Marker Visualization -->
		<param name="show_viz" value="true" type="boolean"/>
		<param name="topic_viz_output" value="marker_vizualization" type="str"/>
		<rosparam param="viz_size">[0.2, 0.2, 0.05]</rosparam>

		<!-- Could output RViz Markers in this node... -->
	</node>
</launch>
